body {
    font-family: 'Inconsolata', monospace;
    font-family: 'Poppins', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    font-family: 'Red Hat Mono', monospace;
    font-family: 'Red Hat Text', sans-serif;
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}